LLM_PROVIDER=doubao
DOUBAO_API_KEY=your_api_key_here
DOUBAO_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBAO_MODEL=your_model_endpoint_id_here

SEARCH_RECENCY=
SEARCH_DELAY_SECONDS=
SEARCH_MAX_OUTPUT_TOKENS=
COLLECTION_MAX_CONCURRENCY=
